header, nav, section {
    padding: 40px;
}

section:first-of-type, section:nth-child(2), header, nav {
    border-bottom: 1px ridge;
}

body {
    font-family: "Noticia Text", sans-serif;
}

footer {
    padding: 30px;
    border-top: 1px ridge;
}